* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
h2 {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  list-style-type: none;
}
.li-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
  margin-bottom: 24px;
}

.categories-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.categories-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  text-align: start;
}
.categories-items li {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

/* 2-nd exercises */
.gallery {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
}
.js-image {
  width: 360px;
  height: 300px;
  margin-right: 24px;
  margin-bottom: 48px;
}

/* 3-d exercises */
#name-input {
  width: 360px;
  height: 40px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.title-task3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/* exercise 4  */
.sbmt-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 8px;
}
.sbmt-btn:focus,
.sbmt-btn:hover {
  background: #6c8cff;
}

.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.login-form.form-field:hover {
  outline: auto;
  border: 1px solid #000;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.form-field {
  height: 40px;
  width: 360px;
}
.form-information {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

input::placeholder {
  color: #fff;
}
.form-field:active::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* 5th exerise*/

.widget {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fff;
}

.change-color {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  border: 0;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.widget-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/* 6th exercise */
/* .controls-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 72px;
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
} */
.controls-input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 72px;
  width: 150px;
  height: 40px;
  margin-right: 1opx;
}
#controls {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background: #f6f6fe;
  margin-bottom: 16px;
  border: 1px solid #808080;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
.create-btn {
  background: #4e75ff;
}
.destroy-btn {
  background: #ff4e4e;
}
.destroy-btn:hover,
.destroy-btn:focus {
  background: #ff7070;
}

#boxes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 32px;
  min-height: 134px;
  width: 486px;
  border: 1px solid #808080;
  background: #f6f6fe;
  /* margin-left: auto;
  margin-right: auto; */
}
